*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    width: 100%;
}
section{
    overflow-x: hidden;
}
/* HEADER */
.navbar{
    width: 100%;
    height: 75px;
    background: black;
    
}

.logo {
    width: 291px;
    height: 32px;
    margin-left: 10%;
}
.collapse{
    margin-left: 10%;
}
.logo img{
    width: 100%;
    height: 100%;
    
}
ul .nav-link{
    color: white;
}
ul .nav-link:hover{
    color: red;
}
/* FIN HEADER */
/* HERO */
.bannier{
    width: 100%;
    height: 841px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/banniere.jpg);
    background-size: cover;
    transition: all 0.5s ease;
    overflow-x: hidden;
}
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInMove 3.5s ease forwards;
}

@keyframes fadeInMove {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.bi-play-circle-fill{
    color: black;
    font-size: 35px;
}
/* FIN HERO */

/* SECTION1 */
#sec1{
    height: 400px;
    background-color: #021738;
    display: none;
    transition: ease 3s;
    transform: translateY(100px);
    animation: secMove 3s ease forwards;
    opacity: 0;
}
.card1{
    height: 300px;
}

/* ANIMATION */
@keyframes secMove {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* FIN SECTION 1 */

/* SECTION 2 ET 3*/
#sec2, #sec3{
    opacity: 0;
    transition: 3s;
    transform: translateY(70px);
    animation: secondMove ease 3s forwards;
}
@keyframes secondMove{
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
#tresor{
    width:306px;
}
 
/* FIN SECTION 2 ET 3 */

/* SECTION 4 */
.sec-about{
    width: 100%;
    height: 700px;
    background: #F2F6F9;
    margin-top: 100px;
}

.box1{
    height: 30px;

}
.box1 .image{
    width: 350px;
    height: 300px;
}
.box1 .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box-body{
    display: flex;
    width: 300px;
    height: 200px;
    background-color: white;
   margin-left: 2%;
    position: absolute;
    text-align: center;
    margin-top: 180px ;
}


#sec4{
    display: none;
    opacity: 0;
    transition: ease 3s ;
    transform: translateY(90px);
    animation: thirtyMoove ease 3s forwards;
}
@keyframes thirtyMoove {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* FIN SECTION 4 */

/* SECTION 5 */
.box2{
    height: 200px;
}
.image-container{
    width: 100%;
    height: 100%;
}
.image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#sec5{
    display: none;
    opacity: 0;
    transition: ease 0.9s;
    transform: translateY(100px);
    animation: quateMoove ease 0.9s forwards;
}
@keyframes quateMoove {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.bi-facebook, .bi-wifi, .bi-linkedin, .bi-instagram{
    color: rgb(0, 0, 68);
    font-size: 20px;
}
/* FIN SECTION 5 */

/* SEC 6 */
.rectangle-image{
    width: 847px;
    height: 673px;
    margin-bottom: 100px;
}
.rectangle-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
form{
    width: 60%;
    height: 392px;
}
input{
    width: 55%;
    height: 50px;
    padding-left: 10px;
}
textarea{
    width: 53.5%;
    height: 90px;
}
#sec6{
    display: none;
    opacity: 1;
    transition: ease 0.9s;
    transform: translateY(90px);
    animation-name: sixMoove ease 0.9s forwards;
}
@keyframes sixMoove{
    to {
        opacity: 0;
        transform: translateY(0);
    }
}
.temoigne{
    background: url(images/fond.jpg);
    background-size: cover;
    height: 400px;
}
.carous{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #637185;
}
i{
    color: white;
}
.profil-image{
    position: absolute;
    z-index: 1000;
    width: 100px;
    height: 150px;
    margin-left: -3%;
    margin-top: 3%;
}
.profil-image img{
    width: 100%;
    height: 100%;
}
.right{
    position: relative;
}
.sponsores{
    width: 100%;
    height: 200px;
}
.sec-blog{
    background: #F2F6F9;
    height: auto;
}
.blog{
    width: 25%;
    background: white;
    height:558px ;
}
.blog .img-fluid{
    width: 344px;
    height: 344px;
}
.blog img{
    width: 100%;
    height: 100%;
}
.blog h5{
    color: #021738;
}

/* FIN SEC 6 */

/* PIED DE PAGE */
footer {
    background: #021738;
}

ul li{
    list-style-type: none;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    width: 240px;
}
.logo-footer {
    width: 291px;
    height: 32px;
}
.logo-footer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* FIN DU PIED DE PAGE */


/*ASSOCIATIONS*/
.hero{
    background: url(images/hero1.jpg);
    background-size: cover;
    height: 370px;
    margin-top: 70px;
}
.sec-activites{
    width: 100%;
}
.grid-activites{
    width: 70%;
    margin: 0 auto;
}
.back{
    width: 366px;
    height: 320px;
}
.reseau{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: red;
}
@media (max-width: 768px) and (min-width:319px){  /*TABLETTE*/
    .navbar{
        height: auto;
        padding-left: 3%;
    }
    .collapse{
        margin-left: 0%;
    }
    .sec-blog, #sec1, .sec-about, .sponsores, form{
        height: auto;
    }
    .blog{
        width: 95%;
    }
    #btn-nav{
        width: 150px;
    }
    
    .box1{
        margin-bottom: 280px;
    }
    
    #sec2{
        display: none;
    }
    #sec6{
        display: none;
        height: auto;
    }
    .rectangle-image{
    width: 347px;
    height: 473px;
    margin-bottom: 300px;
    }
    input{
        width: 200px;
    }
    .box-body{
        display: none;
    }
}
@media (max-width:425px){   /*MOBILE*/
    .logo{
        width: 201px;
        height: 25px;
    }
    #btn-nav{
        width: 150px;
    }
    #sec1, .sec-about, #sec5, .navbar, .sponsores{
        height: auto;
    }
    .box-body{
        display: none;
    }
    #sec2{
        display: none;
        width: 90%;
        overflow-x: hidden;
    }
    #sec6{
        display: none;
        height: auto;
    }
    .rectangle-image{
        margin-bottom: 30px;
    }
    form{
        height: auto;
    }
    .box1{
        margin-bottom: 250px;
    }
    .box1 .image{
    width: 280px;
    height: 250px;
    }
    .sec-blog{
        height: auto;
    }
    form{
    width: 100%;
    height: auto;
    }
    input{
        width: 380px;
    }
    textarea{
        height: 150px;
        width: 380px;
    }
    .temoigne{
        margin-bottom: 100px;
    }
}
